# Copyright (c) 2025 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

menuconfig POUCH
  bool "Golioth Pouch protocol"
  select ZCBOR
  select ZCBOR_CANONICAL
  select MBEDTLS
  select MBEDTLS_PSA_CRYPTO_C
  select PSA_WANT_ALG_SHA_256
  help
    Pouch is a protocol for communicating with Golioth from devices not
    directly connected to the internet.

# Port-specific log-level constants
rsource "Kconfig.port_log_levels"

if POUCH

# Pouch common
rsource "../../src/Kconfig"

choice
  prompt "Pouch uplink encryption scheme"
  help
    Select the encryption method to use for uplink Pouch transfers.

config POUCH_ENCRYPTION_SAEAD
  bool "Streaming AEAD"
  select PSA_WANT_ALG_ECDSA
  select PSA_WANT_ALG_ECDH
  select PSA_WANT_ALG_HKDF
  select PSA_WANT_ALG_HMAC
  select PSA_WANT_ALG_STREAM_CIPHER
  select PSA_WANT_ALG_SHA_256
  select PSA_WANT_ALG_SHA_384
  select PSA_WANT_ECC_SECP_R1_256
  select PSA_WANT_ECC_SECP_R1_384
  select PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_DERIVE
  select PSA_WANT_KEY_TYPE_ECC_PUBLIC_KEY
  select MBEDTLS_ECDSA_C
  select MBEDTLS_ECP_C
  # nRF Connect SDK only:
  select NORDIC_SECURITY_BACKEND
  select MBEDTLS_PK_PARSE_C
  select MBEDTLS_PK_C
  select MBEDTLS_X509_LIBRARY
  select MBEDTLS_X509_CRT_PARSE_C
  help
    Use a streaming AEAD encryption scheme for uplink Pouch transfers.

config POUCH_ENCRYPTION_NONE
  bool "Plaintext"
  help
    No encryption.

endchoice

menu "Streaming AEAD encryption"
  depends on POUCH_ENCRYPTION_SAEAD

choice
  prompt "Encryption algorithm"
  help
    Select the encryption algorithm to use for Pouch.
    This will be used for both uplink and downlink transfers.

config POUCH_ENCRYPTION_CHACHA20_POLY1305
  bool "ChaCha20-Poly1305"
  select PSA_WANT_ALG_CHACHA20_POLY1305
  select PSA_WANT_KEY_TYPE_CHACHA20
  help
    Support ChaCha20-Poly1305 for encryption and decryption.

config POUCH_ENCRYPTION_AES_GCM
  bool "AES-GCM"
  select PSA_WANT_ALG_GCM
  select PSA_WANT_KEY_TYPE_AES
  help
    Support AES-GCM for encryption and decryption.

endchoice

config MBEDTLS_USER_CONFIG_ENABLE
  default y

config MBEDTLS_USER_CONFIG_FILE
  default "$(ZEPHYR_POUCH_MODULE_DIR)/src/saead/mbedtls_config.h"

# Saead common
rsource "../../src/saead/Kconfig"

endmenu

# Transport choices
rsource "transport/Kconfig"

endif

# Gateway
rsource "../../src/gateway/Kconfig"

# Libraries and SDK
rsource "../../Kconfig"
