CONFIG_ESP_MAIN_TASK_STACK_SIZE=5120
CONFIG_POUCH_THREAD_STACK_SIZE=4096
CONFIG_POUCH_UPLINK_PROCESSING_STACK_SIZE=3072

# Pouch
CONFIG_POUCH=y
CONFIG_GOLIOTH=y
CONFIG_GOLIOTH_SETTINGS=y

# Application Version
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.0.0"
