# Copyright (c) 2026 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

choice
  prompt "Pouch transport"
  optional
  help
    Select the transport protocol that will carry Pouch

config POUCH_TRANSPORT_NONE
  bool "NONE"
  help
    No transport is selected. Useful for unit testing.

config POUCH_TRANSPORT_HTTP_CLIENT
  bool "HTTP"
  imply HTTP_CLIENT
  select EVENTS
  select NET_CONNECTION_MANAGER
  help
    HTTP transport for Pouch

config POUCH_TRANSPORT_BLE_GATT
  bool "BLE GATT"
  select POUCH_TRANSPORT_SAR
  help
    BLE GATT peripheral transport for Pouch.
    The device exposes a GATT service that a gateway
    can connect to for transferring Pouch data.

endchoice

rsource "../../../src/transport/Kconfig"

config POUCH_TRANSPORT_ACK_TIMEOUT_MS
    int "Pouch Transport ACK timeout (ms)"
    default 1000
    help
        The timeout, in milliseconds, that a receiver will wait
        for new packets before retransmitting an acknowledgement

rsource "http/Kconfig"
rsource "gatt/Kconfig"
