# Copyright (c) 2026 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

choice
  prompt "Pouch transport"
  optional
  help
    Select the transport protocol that will carry Pouch

config POUCH_TRANSPORT_HTTP_CLIENT
  bool "HTTP"
  imply HTTP_CLIENT
  select EVENTS
  select NET_CONNECTION_MANAGER
  help
    HTTP transport for Pouch

endchoice

rsource "http/Kconfig"
