CONFIG_ESP_MAIN_TASK_STACK_SIZE=4608
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y

# Pouch
CONFIG_POUCH=y
CONFIG_POUCH_ENCRYPTION_SAEAD=y
CONFIG_POUCH_ENCRYPTION_CHACHA20_POLY1305=y
CONFIG_POUCH_UART_DEVICE=y
CONFIG_POUCH_UART_BAUD_RATE=115200
CONFIG_POUCH_UART_TX_PIN=17
CONFIG_POUCH_UART_RX_PIN=18
CONFIG_POUCH_THREAD_STACK_SIZE=4096
CONFIG_POUCH_BLOCK_COUNT=4

# Golioth SDK
CONFIG_GOLIOTH=y
CONFIG_GOLIOTH_SETTINGS=y
CONFIG_GOLIOTH_OTA=y

# Target
CONFIG_IDF_TARGET="esp32s3"

# Partition table (two OTA slots required for firmware update)
CONFIG_PARTITION_TABLE_TWO_OTA=y

# Flash size (8MB to accommodate two OTA partitions)
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Application Version
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.0.0"
