name: "Pouch HIL Tests"

on:
  workflow_dispatch:
    inputs:
      hil_board:
        required: true
        type: string
      west_board:
        required: true
        type: string
      manifest_yml:
        required: true
        type: string
      binary_file:
        required: false
        type: string
      binary_blob:
        required: false
        type: string

  workflow_call:
    inputs:
      hil_board:
        required: true
        type: string
      west_board:
        required: true
        type: string
      manifest_yml:
        required: true
        type: string
      binary_file:
        required: false
        type: string
      binary_blob:
        required: false
        type: string

jobs:
  build-leaf:
    name: pouch-${{ inputs.hil_board }}-build
    container: golioth/golioth-zephyr-base:0.17.0-SDK-v0
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.17.0
      ARTIFACT_NAME: test_artifact_${{ inputs.hil_board }}-${{ inputs.manifest_yml }}-${{ inputs.binary_file }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: pouch
      - name: Init and update west
        run: |
          west init -l pouch --mf ${{ inputs.manifest_yml }}.yml
          west update --narrow -o=--depth=1
      - name: Install pip packages
        run: |
          uv pip install \
            -r zephyr/scripts/requirements-base.txt        \
            -r zephyr/scripts/requirements-build-test.txt  \
            -r zephyr/scripts/requirements-run-test.txt    \
            -r pouch/requirements.txt

          uv pip install          \
            cryptography==41.0.7  \
            pyasn1                \
            pyyaml                \
            cbor>=1.0.0           \
            imgtool>=1.9.0        \
            jinja2                \
            click                 \
            smpmgr

      - name: Download binary blobs
        if: ${{ inputs.binary_blob }}
        run: |
          west blobs fetch ${{ inputs.binary_blob }}

      - name: Compile
        shell: bash
        run: |
          west build --sysbuild -p -b ${{ inputs.west_board }} pouch/examples/ble_gatt
          cp $(find build -name ${{ inputs.binary_file }}) $ARTIFACT_NAME

      - name: Save artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_artifact_${{ inputs.hil_board }}-${{ inputs.manifest_yml }}
          path: ${{ env.ARTIFACT_NAME }}
