name: Pouch Integration Tests

on:
  workflow_dispatch:
    inputs:
      manifest_yml:
        required: true
        type: string

  workflow_call:
    inputs:
      manifest_yml:
        required: true
        type: string

jobs:
  twister:
    name: twister-${{ inputs.manifest_yml }}
    container: golioth/golioth-zephyr-base:0.17.0-SDK-v0
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.17.0
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: pouch
      - name: Init and update west
        run: |
          west init -l pouch --mf ${{ inputs.manifest_yml }}.yml
          west update --narrow -o=--depth=1
      - name: Install pip packages
        run: |
          uv pip install \
            -r zephyr/scripts/requirements-base.txt        \
            -r zephyr/scripts/requirements-build-test.txt  \
            -r zephyr/scripts/requirements-run-test.txt    \
            -r pouch/requirements.txt

          uv pip install          \
            cryptography==41.0.7  \
            pyasn1                \
            pyyaml                \
            cbor>=1.0.0           \
            imgtool>=1.9.0        \
            jinja2                \
            click

      - name: Run tests
        env:
          ZEPHYR_BASE: ${{ github.workspace }}/zephyr
          EXTRA_ZEPHYR_MODULES: ${{ github.workspace }}/pouch
        run: ./zephyr/scripts/twister -v -T pouch/tests

      - name: Publish Test Report (${{ inputs.manifest_yml }})
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: 'twister-out/twister_suite_report.xml'
