name: Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    container: golioth/golioth-zephyr-base:0.17.0-SDK-v0
    strategy:
      matrix:
        manifest:
          - west.yml
          - west-ncs.yml
      fail-fast: false
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.17.0
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: pouch
      - name: Init and update west
        run: |
          west init -l pouch --mf ${{ matrix.manifest }}
          west update --narrow -o=--depth=1
      - name: Install pip packages
        run: |
          uv pip install \
            -r zephyr/scripts/requirements-base.txt        \
            -r zephyr/scripts/requirements-build-test.txt  \
            -r zephyr/scripts/requirements-run-test.txt         \
            -r pouch/requirements.txt

          uv pip install          \
            cryptography==41.0.7  \
            pyasn1                \
            pyyaml                \
            cbor>=1.0.0           \
            imgtool>=1.9.0        \
            jinja2                \
            click

      - name: Compile
        shell: bash
        run: |
          west build -p -b nrf52840dk/nrf52840 pouch/examples/ble_gatt
      - name: Run tests
        env:
          ZEPHYR_BASE: ${{ github.workspace }}/zephyr
          EXTRA_ZEPHYR_MODULES: ${{ github.workspace }}/pouch
        run: ./zephyr/scripts/twister -v -T pouch/tests

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: 'twister-out/twister_suite_report.xml'
