name: "Pouch HIL Tests"

on:
  workflow_dispatch:
    inputs:
      hil_board:
        required: true
        type: string
      west_board:
        required: true
        type: string
      manifest_yml:
        required: true
        type: string
      binary_file:
        required: false
        type: string
      binary_blob:
        required: false
        type: string
      gw_board:
        required: false
        type: string
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string

  workflow_call:
    inputs:
      hil_board:
        required: true
        type: string
      west_board:
        required: true
        type: string
      manifest_yml:
        required: true
        type: string
      binary_file:
        required: false
        type: string
      binary_blob:
        required: false
        type: string
      gw_board:
        required: false
        type: string
      api-url:
        description: API gateway URL for Golioth backend services
        required: false
        type: string
        default: https://api.golioth.io
      api-key-id:
        description: >-
          Name of GitHub secret containing an API key that will be used to authenticate with the
          Golioth backend
        required: false
        type: string
        default: "POUCH_CI_PROD_API_KEY"

jobs:
  build-leaf:
    name: pouch-${{ inputs.hil_board }}-build
    container: golioth/golioth-zephyr-base:0.17.0-sdk-v0
    env:
      zephyr_sdk_install_dir: /opt/toolchains/zephyr-sdk-0.17.0
      artifact_name: test_artifact_${{ inputs.hil_board }}-${{ inputs.manifest_yml }}-${{ inputs.binary_file }}
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          path: pouch
      - name: init and update west
        run: |
          west init -l pouch --mf ${{ inputs.manifest_yml }}.yml
          west update --narrow -o=--depth=1
      - name: install pip packages
        run: |
          uv pip install \
            -r zephyr/scripts/requirements-base.txt        \
            -r zephyr/scripts/requirements-build-test.txt  \
            -r zephyr/scripts/requirements-run-test.txt    \
            -r pouch/requirements.txt

          uv pip install          \
            cryptography==41.0.7  \
            pyasn1                \
            pyyaml                \
            cbor>=1.0.0           \
            imgtool>=1.9.0        \
            jinja2                \
            click                 \
            smpmgr

      - name: download binary blobs
        if: ${{ inputs.binary_blob }}
        run: |
          west blobs fetch ${{ inputs.binary_blob }}

      - name: compile
        shell: bash
        run: |
          west build --sysbuild -p -b ${{ inputs.west_board }} pouch/examples/ble_gatt
          cp $(find build -name ${{ inputs.binary_file }}) $artifact_name

      - name: save artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_artifact_${{ inputs.hil_board }}-${{ inputs.manifest_yml }}
          path: ${{ env.artifact_name }}

  test-hil:
    name: hil-test-${{ inputs.hil_board }}-${{ inputs.manifest_yml }}
    if: ${{ inputs.gw_board != '' }}
    needs:
      - build-leaf
    runs-on:
      - is_active
      - has_${{ inputs.hil_board }}
      - has_${{ inputs.gw_board }}
    timeout-minutes: 30

    container:
      image: golioth/golioth-twister-base:89df175
      env:
        zephyr_sdk_install_dir: /opt/toolchains/zephyr-sdk-0.17.0
      volumes:
        - /dev:/dev
        - /home/golioth/credentials:/opt/credentials
      options: --privileged

    steps:
      - name: prepare working directory
        shell: bash
        run: |
          rm -rf *.bin *.hex
          rm -rf .west
          rm -rf summary/
          mkdir summary

      - name: checkout repository and submodules
        uses: actions/checkout@v4
        with:
          path: pouch

      - name: init and update west
        run: |
          west init -l pouch --mf ${{ inputs.manifest_yml }}.yml
          west update --narrow -o=--depth=1

      - name: install pip packages
        run: |
          uv pip install \
            -r zephyr/scripts/requirements-base.txt        \
            -r zephyr/scripts/requirements-build-test.txt  \
            -r zephyr/scripts/requirements-run-test.txt    \
            -r pouch/requirements.txt                      \
            'git+https://github.com/golioth/golioth-firmware-sdk@v0.22.0#egg=pytest_hil&subdirectory=tests/hil/scripts/pytest-hil/' \
            git+https://github.com/golioth/python-golioth-tools@v0.8.1

          uv pip install          \
            cryptography==41.0.7  \
            pyasn1                \
            pyyaml                \
            cbor>=1.0.0           \
            imgtool>=1.9.0        \
            jinja2                \
            click                 \
            smpmgr

      - name: power on usb hub
        run: python3 /opt/golioth-scripts/usb_hub_power.py on

      - name: download test firmware
        uses: actions/download-artifact@v4
        with:
          name: test_artifact_${{ inputs.hil_board }}-${{ inputs.manifest_yml }}
          path: .

      - name: download gateway firmware
        uses: actions/download-artifact@v4
        with:
          path: .
          pattern: gw-artifact-*
          merge-multiple: true

      - name: show downloads
        shell: bash
        run: ls -la .

      - name: run pytest
        shell: bash
        env:
          hil_board: ${{ inputs.hil_board }}
          gw_board: ${{ inputs.gw_board }}
          artifact_name: test_artifact_${{ inputs.hil_board }}-${{ inputs.manifest_yml }}-${{ inputs.binary_file }}
          gw_artifact_name: gateway-${{ inputs.gw_board }}.hex
        run: |
          source /opt/credentials/runner_env.sh
          export path=$path:/opt/segger/jlink
          port_var=ci_${hil_board^^}_port
          snr_var=ci_${hil_board^^}_snr
          gw_port_var=ci_${gw_board^^}_port
          gw_snr_var=ci_${gw_board^^}_snr

          pytest pouch/examples/ble_gatt/pytest                                             \
              --rootdir .                                                                   \
              --board ${hil_board}                                                          \
              --port ${!port_var}                                                           \
              --serial-number ${!snr_var}                                                   \
              --fw-image ${artifact_name}                                                   \
              --api-url ${{ inputs.api-url }}                                               \
              --api-key ${{ secrets[inputs.api-key-id] }}                                   \
              --gw-board=${gw_board}                                                        \
              --gw-port=${!GW_PORT_VAR}                                                     \
              --gw-fw-image=${GW_ARTIFACT_NAME}                                             \
              --gw-serial-number=${!GW_SNR_VAR}                                             \
              --junitxml=summary/hil-${{ inputs.hil_board }}-${{ inputs.manifest_yml }}.xml \

      - name: Upload CI report summary
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: ci-summary-hil-${{ inputs.hil_board }}-${{ inputs.manifest_yml }}
          path: summary/hil-${{ inputs.hil_board }}-${{ inputs.manifest_yml }}.xml

      - name: Erase flash
        if: always()
        shell: bash
        env:
          hil_board: ${{ inputs.hil_board }}
          gw_board: ${{ inputs.gw_board }}
        run: |
          source /opt/credentials/runner_env.sh
          export PATH=$PATH:/opt/SEGGER/JLink
          SNR_VAR=CI_${hil_board^^}_SNR
          PORT_VAR=CI_${hil_board^^}_PORT
          cat <<EOF > erase_frdm_rw612.jlink
          r
          h
          exec EnableEraseAllFlashBanks
          erase 0x8000000 0x8624000
          sleep 30
          r
          sleep 3
          q
          EOF

          if [[ "${hil_board}" == "nrf52840dk" ]]; then
            nrfjprog --recover --snr ${!SNR_VAR}
          fi

          if [[ "${gw_board}" == "frdm_rw612" ]]; then
            JLinkExe \
              -nogui 1 \
              -if swd \
              -speed auto \
              -device RW612 \
              -CommanderScript erase_frdm_rw612.jlink \
              -SelectEmuBySN ${!SNR_VAR}
          fi

      - name: Power Off USB Hub
        if: always()
        run: python3 /opt/golioth-scripts/usb_hub_power.py off
